.weather-card {
  color: #02143c;
}

.weather-card img {
  object-fit: contain;
}

.img-size {
  width: min(100%, 350px);
  aspect-ratio: 1;
  object-fit: cover;
}

.overflow-auto {
  scrollbar-width: thin;
}
